<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1>Eat Sushi, It's Good!</h1>
      
        <br>
        <panel>
            <h2>Add A Sushi Roll</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="sushiName"></label>
                    <input type="text" id="sushiName" name="name">
                </div>
                <button type="submit" id="addSushi">Add!</button>
            </form>
        </panel>
    </div>
    <!--user input for order here-->
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="orderRoll"><strong>Sushi Rolls Here</strong></div>
                <div class="panel-body">
                    <ul>

                        {{#each sushi}}
                        {{#unless devoured}}
                        {{> sushi/sushi-block devoured=false}}
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <!--devoured rolls will transfer here-->
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="devourRoll"><strong>Demolished Rolls</strong></div>
                <div class="panel-body">
                    

                    <ul>
                        {{#each sushi}}
                        {{#if devoured}}

                        {{> sushi/sushi-block devoured=true}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>

            </div>
        </div>
    </div>






</div>